h1{
    color: black;
    text-align: center;
    font-weight: 800;
    text-decoration: wavy underline rgb(0, 0, 0);
}

h2{
    color: #3f4238;
    text-decoration: underline black;
    text-align: center;
}

body{
    background-color: #f5cac3;
}


h3{
    color: #3a5a40;
    font-weight: 300;
    text-decoration: wavy underline cornflowerblue;
}

button:hover{
    background-color: #1d3557;
}

button:active{
    background-color: #2a9d8f;
}

input[type= "password"]{
    color: #f80606;
}

h2,h3::first-letter{
    font-size: 30px;
}

::selection{
    color: #e63946;
    background-color: whitesmoke;
}

h1 ::selection{
    color: #e36414;
    background-color: whitesmoke;

}
a{
    text-decoration: none;
    color: #011627;
}
a:hover{
    text-decoration: underline;
    color: rgb(238, 255, 0);
}

p::first-line{
    color: #6a994e;
}