*{
    box-sizing: border-box;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

h1{font-size: 3.5em;}

h2{font-size: 2.6em;}

h3{font-size: 1.7em;}

p{font-size: 1.2em;}

a{
    text-decoration: none;
    color: black;
}

ul{list-style: none;}

li{font-size: 1.2em;}

button{
    font-size: 21px;
    font-weight: bold;
    background-color: #83bbbb;
    padding: 10px 15px;
    border: none;
    border-radius: 5rem;
}

button:hover{
    background-color: #588b8b ;
}

.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: rgb(245, 245, 245);
}

header .logo{
    padding: 15px 25px;
    font-size: 1.7em;
    font-weight: bold;
    color: #83bbbb;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    padding-bottom: 15px;
}
header a{
    padding: 5px 10px;
}

header a:hover{
    color: #83bbbb;
}

.minombre{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    )
    ,url(ImagenMiNombre.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    font-size: 1.1em;
}

#quiensoy h2{
    padding-bottom: 65px;
}

#quiensoy p{
    padding-bottom: 32.5px;
}

#quiensoy .container{
    padding: 130px 50px;
    text-align: center;
}

#conocimientos h2{
    padding-bottom: 65px;
}

#conocimientos .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #83bbbb;
    background-size: cover;
    color: white;
    padding: 130px 50px;
}

#contacto h2{
    padding-top: 65px;
}



#contacto .container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 65px 50px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #83bbbb;
    color: white;
    padding: 10px 10px;
}

@media (min-width:720px){
    header{
        position: fixed;
        width: 100%;
    }
    header .container{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 1.1em;
    }

    header nav{
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 0;
        padding-right: 20px;
    }

    .minombre{
        font-size: 1.5em;
    }
    
    .minombre button{
        font-size: 1.3em;
    }

    #quiensoy .container{
        display: flex;
        justify-content: space-evenly;
    }


    #quiensoy .img-perfil{
        background-image: url("Repositorio/foto-perfil.jpeg");
        background-size: cover;
        background-position: center center;
        height: 300px;
        width: 300px;
    }

    #contacto .container{
        display: flex;
    }

    #contacto .img-contacto{
        background-image: url("Repositorio/contacto.png");
        background-size: cover;
        background-position: center center;
        height: 300px;
        width: 300px;
    }


}

