.navbar{
    position: fixed;
    background-color: burlywood;
    padding: 5px 15px;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
    font-family: 'Roboto Mono', monospace;
}

.navbar .menu li {
    display: inline-block;
    flex-direction: row;
    font-size: 21px;
    list-style: none;
} 
.menu li a{
    text-decoration: none;
    color: black;
}

.navbar .menu a:hover{
    color: white;
}

.presentacion{
    background-color: black;
}

.minombre{
    color:brown;

}



