.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: beige;
    padding: 30px 0;
    font-weight: 800;
    font-size: 25px;
    padding: 10 30 10 30;
    margin: 5 15 5 15;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
    font-weight: 600;
    font-size: 15px;
}