*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

h1{font-size: 3.5em;}

h2{font-size: 2.6em;}

h3{font-size: 1.7em;}

p{font-size: 1.2em;}

a{
    text-decoration: none;
    color: black;
}

ul{list-style: none;}

li{font-size: 1.2em;}

button{
    font-size: 21px;
    font-weight: bold;
    background-color: #83bbbb;
    padding: 10px 15px;
    border: none;
    border-radius: 5rem;
}

button:hover{
    background-color: #588b8b ;
}

.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: rgb(245, 245, 245);
}

header .logo{
    padding: 15px 25px;
    font-size: 1.7em;
    font-weight: bold;
    color: #83bbbb;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    padding-bottom: 15px;
}
header a{
    padding: 5px 10px;
}

header a:hover{
    color: #83bbbb;
}

.minombre{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    )
    ,url(ImagenMiNombre.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    font-size: 1em;
}

.minombre button{
    font-size: 1.3em;
}

#quiensoy h2{
    padding-top: 30px;
    margin-bottom: 25px;
}

#quiensoy p{
    padding-bottom: 32.5px;
}

#quiensoy .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 130px 50px;
    text-align: center;
}

#quiensoy .img-perfil{
    background-image: url(foto-perfil.jpeg);
    background-size: cover;
    background-position: center center;
    height: 400px;
    width: 300px;
    border-radius: 10%;
    padding-bottom: 25px;
}

#conocimientos h2{
    padding-bottom: 65px;
}

#conocimientos .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #83bbbb;
    background-size: cover;
    color: white;
    padding: 130px 50px;
}

#contacto .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 40px;
}


#contacto h2{
    padding-top: 45px;
    padding-bottom: 10px;
}

#contacto .info{
    padding-bottom: 50px;
}

#contacto .img-contacto{
    background-image: url(contacto.png);
    background-size: cover;
    background-position: center center;
    height: 250px;
    width: 350px;
}


footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #83bbbb;
    color: white;
    padding: 10px 10px;
}

@media (min-width: 576px){

    #conocimientos .container{
        padding: 75px 50px;
    }
}

@media (min-width:768px){
    
    header{
        position: fixed;
        width: 100%;
    }
    header .container{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 1.1em;
    }

    header nav{
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 0;
        padding-right: 20px;
    }

    .minombre{
        font-size: 1.1em;
    }
    
    .minombre button{
        font-size: 1.3em;
    }

    #quiensoy .container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #quiensoy .img-perfil{
        background-image: url(foto-perfil.jpeg);
        background-size: cover;
        background-position: center center;
        height: 450px;
        width: 300px;
    }

    #quiensoy .texto-quiensoy{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 25px;
        font-size: 1em;
        width: 50%;
    }

    #conocimientos .container{
        font-size: 1.2em;
        padding: 100px 50px;
    }


    #contacto .container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 1em;
    }

    #contacto .img-contacto{
        display: flex;
        background-image: url(contacto.png);
        background-size: cover;
        background-position: center center;
        height: 300px;
        width: 300px;
    }

    #contacto .info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: initial;
    }
  

}

@media (min-width: 992px){

    .minombre{
        font-size: 1.2em;
    }

    .minombre button{
        font-size: 1.4em;
    }

    #quiensoy .container{
        padding: 100px 25px;
    }

    #quiensoy .texto-quiensoy{
        font-size: 1.1em;
    }

    #quiensoy .texto-quiensoy button{
        font-size: 1.3em;
    }

    #contacto .container{
        font-size: 1.1em;
    }

    #contacto .img-contacto{
        height: 400px;
        width: 400px;
    }

}

@media (min-width: 1200px){

    header .container{
        font-size: 1.3em;
    }

    .minombre{
        font-size: 1.3em;
    }

    .minombre button{
        font-size: 1.4em;
    }

    #quiensoy .texto-quiensoy{
        font-size: 1.2em;
    }
    
    #quiensoy .texto-quiensoy button{
        font-size: 1.4em;
        padding: 21px;
    }
    
    #quiensoy .img-perfil{
        height: 450px;
        width: 350px;
    }

    #conocimientos .container{
        font-size: 1.3em;
    }

    #contacto .container{
        font-size: 1.3em;
    }

    #contacto .img-contacto{
        height: 450px;
        width: 450px;
    }
    
    #contacto .container button{
        font-size: 1.2em;
    }

}
