*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1{font-size: 3.5em;}

h2{font-size: 2.6em;}

h3{font-size: 1.7em;}

p{font-size: 1.2em;}

a{
    text-decoration: none;
    color: black;
}

ul{list-style: none;}

li{text-decoration: none;}

button{
    font-size: 21px;
    font-weight: bold;
    background-color: #383838;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5rem;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.5);
}

button:hover{
    background-color: #121212;
}

.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: #121212;
    position: fixed;
    color: #fff;
    width: 100%;
}

nav{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 25px;
}

.btn-nav{
    font-size: 25px;
    margin-right: 35px;
    cursor: pointer;
}

.menu{
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 50px;
    background: rgba(0, 0, 0, 0.95);
    text-align: center;
    transition: all .5s;
}

.menu li{
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
}

.menu li a{
    color: white;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
}

.menu li a:hover{ 
    color: #383838;
}

#check{
    display: none;
}

#check:checked ~ .menu{
    height: 100vh;
}

#check:checked ~ .menu li{
    display: block;
}



#nombre .minombre{
    height: 600px;
    width: 100%;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url(fondoBW.png);

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.7em;
}


#quiensoy h2{
    padding-top: 30px;
    margin-bottom: 25px;
}

#quiensoy p{
    padding-bottom: 32.5px;
}

#quiensoy .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 130px 50px;
    text-align: center;
}

#quiensoy .img-perfil{
    background-image: url(foto-perfil.jpeg);
    background-size: cover;
    background-position: center center;
    height: 350px;
    width: 250px;
    border-radius: 10%;
    padding-bottom: 25px;
}

#conocimientos h2{
    padding-bottom: 65px;
    font-size: 2em;
}

#conocimientos .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: #121212;
    background-size: cover;
    color: white;
    padding: 130px 50px;
}

#conocimientos .conocimientos{
    font-size: 1.1em;
}

#contacto .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 40px;
}


#contacto h2{
    font-size: 2.3em;
    padding-top: 45px;
    padding-bottom: 10px;
}

#contacto h3{
    font-size: 1.5em;
    padding-bottom: 10px;
}

#contacto .info{
    padding-bottom: 50px;
}

#contacto .formulario input{
    font-size: 0.7em;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}

#contacto .formulario textarea{
    font-size: 0.7em;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    padding-left: 10px;
    padding-top: 7px;
    max-width: 400px;
    max-height: 400px;
}


#contacto .img-contacto{
    background-image: url(contacto.png);
    background-size: cover;
    background-position: center center;
    height: 150px;
    width: 250px;
}


footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: rgba(255, 255, 255, 0.7);
    padding: 10px 10px;
    font-size: 0.7em;
}

    
@media (min-width: 480px){

    #nombre .minombre{
        font-size: 0.9em;
    }
    #nombre .minombre button{
        font-size: 2em;
    }

    #quiensoy .texto-quiensoy button{
        font-size: 1.5em;
    }

    #conocimientos .container{
        padding: 100px 50px;
    }

    #conocimientos h2 {
        font-size: 2.3em;
    }

    #conocimientos .conocimientos{
        font-size: 1.3em;
    }

    #contacto .info{
        font-size: 1.2em;
    }


    #contacto .img-contacto{
        height: 200px;
        width: 300px;
    }

    footer{
        font-size: 0.9em;
    }
} 

@media (min-width:768px){
    
    .logo{
        font-size: 1.5em;
        margin-left: 15px;
    }

    nav{
        height: 100px;
    }

    .btn-nav{
        display: none;
    }

    .menu{
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

    }

    .menu li{
        display: inline-block;
        margin: 0 10px;
        transition: none;
    }

    .menu li a{
        font-size: 1em;
    }

    #nombre .minombre{
        font-size: 1.1em;
    }


    #quiensoy .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

   #quiensoy .img-perfil{
        height: 450px;
        width: 300px;
    }

    #quiensoy .texto-quiensoy{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 25px;
        font-size: 1em;
        width: 50%;
    }

    #conocimientos .container{
        font-size: 1.2em;
        padding: 100px 50px;
    }


    #contacto .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #contacto .img-contacto{
        height: 350px;
        width: 300px;
    } 

    #contacto .info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: initial;
        font-size: 1.1em;
    }

    #contacto .formulario input {
        font-size: 1em;
    }

    #contacto .formulario textarea {
        font-size: 0.9em;
    }

    #contacto .formulario button {
        font-size: 1.1em;
    }
  
    footer{
        font-size: 0.9em;
    }
  

}

@media (min-width: 960px){

    .logo{
        font-size: 1.7em;
        margin-left: 30px;
    }

    .menu{
        margin-right: 20px;
    }

    .menu li a{
        font-size: 1.1em;
    }

    #nombre .minombre {
        font-size: 1.2em;
    }

    #quiensoy .container{
        padding: 100px 25px;
    }

    #quiensoy .texto-quiensoy{
        font-size: 1.3em;
    }

    #quiensoy .texto-quiensoy button{
        font-size: 1.3em;
    }

    #quiensoy .img-perfil{
        height: 500px;
        width: 400px;
    }

    #conocimientos h2{
        font-size: 2.5em;
    }

    #conocimientos .conocimientos{
        font-size: 1.5em;
    }

    #contacto .container{
        font-size: 1em;
    }

    #contacto .formulario button{
        font-size: 1.4em;
    }

    #contacto .img-contacto{
        height: 400px;
        width: 400px;
        margin-right: 40px;
    }

    footer{
        font-size: 1em;
    }

}

@media (min-width: 1024px){

    #quiensoy .texto-quiensoy button{
        font-size: 1.5em;
    }

    #contacto .img-contacto{
        height: 375px;
        width: 375px;
        margin-right: 50px;
    }
}

@media (min-width: 1400px){

    .logo{
        font-size: 2.2em;
        margin-left: 50px;
    }

    .menu{
        margin-right: 50px;
    }

    .menu li a{
        font-size: 1.5em;
    }

    #quiensoy .img-perfil{
        margin-left: 50px;
        height: 600px;
        width: 450px;
    }

    #quiensoy .texto-quiensoy{
        font-size: 1.5em;
    }

    #conocimientos h2{
        font-size: 3em;
    }

    #conocimientos .conocimientos{
        font-size: 2em;
    }

    #contacto .info{
        font-size: 1.8em;
    }

    #contacto .img-contacto{
        height: 600px;
        width: 600px;
    }

} 

@media (min-width: 4000px){
    .container{
        max-width: 4000px;
    }
    header{
        height: 200px;
        width: 100%;
    }

    .logo{
        font-size: 5em;
    }

    .menu li a{
        font-size: 4.3em;
        margin-right: 50px;
    }

    nav {
        padding-top: 75px;
    }

    #nombre .minombre {
        height: 2500px;
        font-size: 4em;
    }

    #quiensoy .container{
        height: 2500px;
    }

    #quiensoy .img-perfil{
        height: 1500px;
        width: 1000px;
        margin-left: 400px;
    }

    #quiensoy .texto-quiensoy{
        font-size: 4em;
    }

    #quiensoy .texto-quiensoy button{
        padding: 50px 30px;
    }

    #conocimientos .container{
        height: 1500px;
    }

    #conocimientos h2{
        font-size: 6em;
    }

    #conocimientos .conocimientos{
        height: 1500px;
        font-size: 4.3em;
        margin-top: 100px;
    }

    #contacto .container{
        height: 2500px;
    }

    #contacto .info{
        font-size: 4em;
        margin-left: 100px;
        margin-top: 200px;
    }

    #contacto .info textarea{
        max-width: 1000px;
        max-height: 1000px;
    }

    #contacto .img-contacto{
        margin-left: 250px;
        height: 1250px;
        width: 1250px;
    }

    footer {
        margin-top: 300px;
        height: 200px;
        font-size: 3.5em;
    }

    footer p {
        margin-top: 50px;
    }
}

